[Desktop Entry]
Icon=cu.axel.WaydroidSettings
Type=Application
Name=Install to Waydroid
Exec=waydroid app install %F
MimeType=application/vnd.android.package-archive
Terminal=true
NoDisplay=true
