[submodule "scripts/darth_waydr"]
	path = scripts/darth_waydr
	url = https://github.com/aditya24raj/darth_waydr.git
[submodule "scripts/waydroid_extras"]
	path = scripts/waydroid_extras
	url = https://github.com/casualsnek/waydroid_script
[submodule "scripts/quackdoc_scripts"]
	path = scripts/quackdoc_scripts
	url = https://github.com/Quackdoc/waydroid-scripts
[submodule "scripts/waydroid-10-11-switch-script"]
	path = scripts/waydroid-10-11-switch-script
	url = https://github.com/electrikjesus/waydroid-10-11-switch-script
[submodule "scripts/wd-scripts"]
	path = scripts/wd-scripts
	url = git@github.com:electrikjesus/wd-scripts.git
